body{
    background-image: url(ground.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.field{
    position: relative;
    top: 350px;
    left: 200px;
}
.field img{
   height: 200px;
   /* transform: rotate(-30deg); */
   transform-origin: top right;
}

 body:hover .bat{
     transform: rotate(-50deg);
     transition: transform 1s ;
}
.ball img{
    height: 25px;
    position: relative;
    left: 100px;
    bottom: 30px;
   
}
body:hover .ball{
   
    transition: transform 1s ;
    transform: translate(1040px);
    transition: transform .90s .35s;
}
.ball>img{
    
}